@page
@model RazorPagesTutorial.Pages.NotFoundModel
@{
}
<h1 class="text-danger">The resouce you are looking for cannot be found</h1>
<a asp-page="/Employees/Index" class="btn btn-secondary">
    Click here to get back to home
</a>
